@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'DM Sans';
	background-color: #191919;
	color: #fff;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 1350px) {
	.container {
		padding: 0 20px;
	}
}

.blue-btn {
	color: #fff;
	font-family: 'DM Sans';
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 158.824% */
	border-radius: 6px;
	background: #118da8;
	padding: 12px 20px;
	border: none;
	transition: 0.3s all;
	&:hover {
		background: #ffffffea;
		color: #118da8;
	}
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #191919;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #118da8;
}
::-webkit-scrollbar-thumb:hover {
	background: #118da8;
}
